{% extends 'dashboard/base.html'%}
{%load static%}

    {%block title%}<title>Dashboard</title>{%endblock%}
    {% block home_button_active%}{%endblock%}
    {% block interest_button_active%}active{%endblock%}
     {%block content%}
      <!--content-->
      <div class="d-flex flex-column justify-content-center text-center w-100 dashboardcontent">
        
        <div class="container mt-3">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
             {% endif %}
            <div class="d-flex flex-column justify-content-start text-start">
                <h6>Manage Interests</h6>
                <p><a href="{%url 'dashboard:dashboard_view'%}">Home</a> <i class="fa-solid fa-chevron-right"></i> Interests</p>                
            </div>
            
            <div class="d-flex rounded py-3 px-2 shadow-sm mb-3 justify-content-end gap-3">
                <form action="{%url 'dashboard:interests_view'%}" method="get" class="d-flex gap-3 justify-content-center align-items-center">
                    {% csrf_token %}
                    <input type="search" class="form-control" placeholder="Search" value="{{request.GET.search}}" name="search" required minlength="1"/>
                </form>
            </div>

            <div class="d-flex flex-column rounded mb-3 py-3 px-2 shadow-sm justify-content-statr gap-3" style="min-height: 55vh;">
                <div class="d-flex justify-content-between">
                    <form action="{%url 'dashboard:interests_view'%}" method="get" class="d-flex gap-3 justify-content-center align-items-center">
                        {% csrf_token %}
                        <select class="form-select" name="order_by">
                            <option disabled selected>Order by</option>
                            <option value="created_at" {%if request.GET.order_by == 'created_at'%} selected {%endif%}>Date</option>
                        </select>
                        <input type="submit" class="btn btn-primary " value="Apply"/>
                    </form>
                    <a href="{%url 'dashboard:add_interest_view'%}" class="btn btn-primary rounded align-items-centerp-1"><i class="fa-solid fa-plus"></i> New</a>
                </div>

           

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Image</th>  
                  <th>Subject</th>
                  <th>About</th>
                  <th>Sources</th>
                  <th>Interested People</th>
                  <th>Date/Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for interest in interests%}
                <tr>
                  <td><img src="{{interest.image.url}}" style="width: 30px; height: 20px;"/></td>  
                  <td>{{interest.subject}}</td>
                  <td>{{interest.about|truncatechars:50}}</td>
                  <td>{{interest.sources|truncatechars:50}}</td>
                  <td>{{interest.num_interest}}</td>
                  <td>{{interest.created_at}}</td>
                  <td>
                    <div class="d-flex justify-content-center gap-2">
                        <a href="{%url 'life_and_work:interest_detail_view' interest.id %}"><i class="fa-solid fa-eye rounded-circle action-button-warning text-white p-2 "></i></a>
                        <a href="{%url 'dashboard:update_interest_view' interest.id %}"><i class="fa-solid fa-pen-to-square rounded-circle action-button-success text-white p-2 "></i></a>
                        <a type="button" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-trash-can rounded-circle action-button-danger text-white p-2"></i></a>
                    </div>
                  </td>
                </tr>
                 <!-- Button trigger modal -->  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Interest</h5>
                <button type="button" class="close" style="background-color: rgba(240, 248, 255, 0); border: none;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete the interest?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary"style="    background-color: ##6c757d;" data-dismiss="modal">Close</button>
                <a href="{%url 'dashboard:delete_interest_view' interest.id %}" class="btn  btn-danger" >Delete</a>
            </div>
            </div>
            </div>
        </div>
                {%endfor%}
               
              </tbody>
            </table>
             
             <!--pagination-->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            
                {% if interests.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true"> First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ interests.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true"> First</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}
    
                {% for num in interests.paginator.page_range %}
                    {% if num == interests.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
        
                {% if interests.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ interests.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ interests.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">Last </span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">Last</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
        </div>

          </div>
      </div>
          {%endblock%}
      