.pageinfo{
   min-height: 49vh;
}


.cv-container{
    min-height: 49vh;
}

.table-edu-img{
    height:7rem;
    width: 7rem;
    background-image: url('../images/taibah.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-exp1-img{
    height:7rem;
    width: 7rem;
    background-image: url('../images/qeyammuna.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.table-exp2-img{
    height:7rem;
    width: 7rem;
    background-image: url('../images/solarenergy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
tbody tr{
    min-height: 10rem;
}

.table-pro-img{
    height:7rem;
    width: 7rem;
}

.table-pro-img img{
    height: 100%;
    width: 100%;
    border-radius: 80px;
}


.carousel-inner{
    height: 70vh;
    border-radius: 30px;
}
.carousel-item{
    height: 100%;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.558);
    border-radius: 20px;
}

.memories-container{
    height: 70vh;
}

.memories-text{
    height: 40vh;
    margin-right: 1.5rem;
}

.interests-container{
    min-height: 70vh;
}

.card-img-top-container{
    height: 13rem;
}
.card-img-top{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sidecontent{
    row-gap: 2rem;
}

.pagination .page-item {
    border-radius: 0 !important;
}

.pagination .page-link {
    border-radius: 0 !important;
}



