{% extends 'main/base.html'%}
{%load static%}

    {%block title%}<title>My Free Space</title>{%endblock%}
    {%block head%}
    <link href="{%static 'css/life_and_work.css'%}" rel="stylesheet"/>
    {%endblock%}
     {%block content%}

      
     {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    <div class="container-fluid w-100 ">
        <section class=" d-flex justify-content-center">
            <img class="startingimg" src="{%static 'images/underwater.jpg'%}"/>
            <section class="heading text-center">
                <h1 class="cinzel-font animate__animated animate__fadeInUp">Let's Share </h1>
                <h6 class="fw-normal text-white animate__animated animate__fadeInUp">My memories and feelings.</h6>
              </section>
            <div class="container-fluid">
                <div class=" pagescards row d-flex justify-content-center">
 
                    <section class="pageinfo col-md-12 col-sm-12">
                        <section class="memories-container mt-5 d-flex justify-content-center align-items-center text-center pt-2 mb-5">
                            
                            <div class="container">
                                <div id="myCarousel" class="carousel slide h-100" data-bs-ride="carousel">
    
                                    <!-- Indicators -->
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        
                                       {% for memo in memories %}
                                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter }}"></button>
                                        {% endfor %}
                                    </div>
                                    
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        {% for memo in memories %}
                                            <div class="carousel-item {% if memo.id == active_memoobject.id %}active{% endif %}">
                                                <img src="{{ memo.image.url }}" alt="{{ memo.title }}" class="d-block w-100">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>{{ memo.title }}</h5>
                                                    <p class="bold">{{memo.get_category_display}}</p>
                                                    <p>{{ memo.description }}</p>
                                                    
                                                    <small class="text-white">{{memo.created_at}}</small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                    <!-- Left and right controls -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                
                            </div>
                            
                        </section>
                                                                                                   
                        
                    </section>
               
               </div>
            </div>
          
        </section>
    </div>     
          {%endblock%}
      