{% extends 'main/base.html'%}
{%load static%}

    {%block title%}<title>Interest</title>{%endblock%}
    {%block head%}
    <link href="{%static 'css/life_and_work.css'%}" rel="stylesheet"/>
    {%endblock%}
     {%block content%}


    <div class="container-fluid w-100 ">
        <section class=" d-flex justify-content-center">
            <img class="startingimg" src="{{interest.image.url}}"/>
            <section class="heading text-center">
                <h1 class="cinzel-font animate__animated animate__fadeInUp">{{interest.subject}}</h1>
              </section>
            <div class="container-fluid">
                <div class=" pagescards row d-flex justify-content-center">
 
                    <section class="pageinfo col-md-12 col-sm-12 container">
                        <div class="detailcontent d-flex mt-4 justify-content-between row" >
                            <div class="sidecontent d-flex flex-column col-md-3">
                                <div>
                                    <h6 class=""><strong class="text-primary">Resources I Used:</strong></h6>
                                    <ul>
                                    {%for source in orgnized_sources%}
                                    <li>{{source}}</li>
                                    {%endfor%}
                                    </ul>
                                </div>
                               
                                
                                
                                
                               
                                <h6><strong class="text-primary">Date:</strong> <small class="text-muted">{{interest.created_at}}</small></h6>

                                <form class="mb-3" id="like-form" method="post" action="{%url 'life_and_work:interest_detail_view' interest.id %}">
                                    {% csrf_token %}
                                    <strong>Are you interested?</strong>
                                    <div class="radio-container d-flex gap-3 mt-2 justify-content-start">
                                      <label class="custom-radio">
                                        <input type="radio" name="like-radio" class="custom-radio-input" value="1">
                                        <i class="fa fa-thumbs-up thumbs-up-icon"></i> 
                                      </label>
                                      <label class="custom-radio">
                                        <input type="radio" name="like-radio" class="custom-radio-input" value="0">
                                        <i class="fa fa-thumbs-down thumbs-down-icon"></i> 
                                      </label>
                                    </div>
                                  </form>
                            </div>
                            <div class="maincontent mt-sm-2 col-md-9 d-flex justify-content-start align-items-start gap-3">
                                
                                <p><strong class="text-primary">|   </strong>{{interest.about}} 
                                </p>
                            </div>

                        </div>
                        
                    </section>
               
               </div>
            </div>
          
        </section>
    </div>     
          {%endblock%}
          {%block script%}
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              const form = document.getElementById('like-form');
              const radios = form.querySelectorAll('input[name="like-radio"]');
              
              radios.forEach(radio => {
                radio.addEventListener('change', function() {
                  form.submit();
                });
              });
            });
          </script>
          
    {%endblock%}
         