{% extends 'main/base.html'%}
{%load static%}

    {%block title%}<title>Interest</title>{%endblock%}
    {%block head%}
    <link href="{%static 'css/life_and_work.css'%}" rel="stylesheet"/>
    {%endblock%}
     {%block content%}


    <div class="container-fluid w-100 ">
        <section class=" d-flex justify-content-center">
            <img class="startingimg" src="{{interest.image.url}}"/>
            <section class="heading text-center">
                <h1 class="cinzel-font animate__animated animate__fadeInUp">{{interest.subject}}</h1>
              </section>
            <div class="container-fluid">
                <div class=" pagescards row d-flex justify-content-center">
 
                    <section class="pageinfo col-md-12 col-sm-12 container">
                        <div class="detailcontent d-flex mt-4 justify-content-between row" >
                            <div class="sidecontent d-flex flex-column col-md-3">
                                <div>
                                    <h6 class=""><strong class="text-primary">Resources I Used:</strong></h6>
                                    <ul>
                                    {%for source in orgnized_sources%}
                                    <li>{{source}}</li>
                                    {%endfor%}
                                    </ul>
                                </div>
                               
                                
                                
                                
                               
                                <h6><strong class="text-primary">Date:</strong> <small class="text-muted">{{interest.created_at}}</small></h6>
                            </div>
                            <div class="maincontent mt-sm-2 col-md-9 d-flex justify-content-start align-items-start gap-3">
                                
                                <p><strong class="text-primary">|   </strong>{{interest.about}} 
                                </p>
                            </div>

                        </div>
                        
                    </section>
               
               </div>
            </div>
          
        </section>
    </div>     
          {%endblock%}
      